#header {
    background-color: #ffe5e5;
    a {
        padding: 5px 15px;
    }
    .brand-img {
        height: 40px;
        width: 50px;
    }
}
.view-container {
    min-height: 550px;
}
.footer {
    text-align: center;
    background-color: #ffe5e5;
    font-size: 15px;
    padding: 10px;
}