.form-container {
    margin-top: 50px;
    border: 1px solid #000;
     div {
         min-height: 20px;
     }
    .border-bottom {
        border-bottom: 1px solid lightgrey;
    }
    .border-right {
        border-right: 1px solid lightgrey;
    }
}