.parent-container {
    margin: 50px auto 30px;
    border: 1px solid #000;
     div {
         min-height: 40px;
         text-align: center;
     }
    .border-bottom {
        border-bottom: 1px solid lightgrey;
    }
    .border-right {
        border-right: 1px solid lightgrey;
    }
}