#header {
  background-color: #ffe5e5; }
  #header a {
    padding: 5px 15px; }
  #header .brand-img {
    height: 40px;
    width: 50px; }

.view-container {
  min-height: 550px; }

.footer {
  text-align: center;
  background-color: #ffe5e5;
  font-size: 15px;
  padding: 10px; }
.form-container {
  border: 1px solid #000; }
  .form-container div {
    min-height: 20px; }
  .form-container .border-bottom {
    border-bottom: 1px solid lightgrey; }
  .form-container .border-right {
    border-right: 1px solid lightgrey; }
